<div class="content">
    <p-card [style]="{width: '450px'}" styleClass="shadow-2 m-0">

        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/vidaSalud-logo.png">
        </ng-template>

        <div *ngIf="resetPasswordIsSuccess">
            <p class="font-semibold">Tu password se ha restablecido correctamente por favor vuelve al login e Inicia
                sesión.</p>
            <button class="w-full cbc4" pButton label="Volver a Iniciar sesión" routerLink="/auth/login"></button>
        </div>

        <form [formGroup]="form" (ngSubmit)="restablecerPassword()" *ngIf="!resetPasswordIsSuccess">
            <div class="flex flex-column gap-3">

                <ul *ngIf="resetPasswordHasError" class="m-0 p-2 border-red-600 border-2"
                    style="list-style: none;">
                    <li class="text-red-600">
                        <i class="pi pi-times-circle mr-2"></i>
                        <span>Algo ha salido mal. Visita <a href="/auth/recuperar-cuenta">esta página</a> para restablecer tu password.</span>
                    </li>
                </ul>

                <p class="m-0 font-semibold">Establece un nuevo password para tu cuenta, por favor escoge un password
                    que sea seguro.</p>

                <div class="field">
                    <label for="">Password</label>
                    <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                        [ngClass]="{'ng-invalid': campoNoValido('password')}" formControlName="password" required
                        inputStyleClass="w-full"></p-password>
                    <small *ngIf="campoNoValido('password')" class="p-error block">El password debe ser mayor a 7
                        caracteres.</small>
                </div>

                <div class="field">
                    <label for="">Confirmar Password</label>
                    <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                        [ngClass]="{'ng-invalid': campoNoValido('confirmarPassword')}"
                        formControlName="confirmarPassword" required inputStyleClass="w-full"></p-password>
                    <small *ngIf="campoNoValido('confirmarPassword')" class="p-error block">Los password no coinciden.
                        Inténtalo de nuevo.</small>
                </div>

                <button class="w-full cbc4" type="submit" [loading]="isLoading" pButton label="Restablecer password"></button>
            </div>
        </form>

    </p-card>
</div>