<div class="content">
   <p-card [style]="{width: '450px'}" styleClass="shadow-2 m-0">

      <ng-template pTemplate="header">
         <img alt="Card" src="../../../assets/images/vidaSalud-logo.png">
      </ng-template>

      <div *ngIf="envioEmailCorrecto">
         <p class="font-semibold">Se envio el enlace para restablecer tu password al correo electrónico proporcionado,
            el enlace puede tardar unos minutos en llegar. Si no aparece en unos minutos, revisa la opción de correos no
            deseados.</p>
         <button class="w-full cbc4" pButton label="Volver a Iniciar sesión" routerLink="/login"></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="enviarEmailRestablecerPassword()" *ngIf="!envioEmailCorrecto">

         <div class="flex flex-column gap-3">
            <p class="font-semibold m-0">
               Ingresa la dirección de correo electrónico de su cuenta y te enviaremos un enlace para restablecer tu
               password.
            </p>
   
            <div class="field">
               <input type="text" pInputText [style]="{ width: '100%' }" formControlName="email"
                  [ngClass]="{'ng-invalid': campoNoValido('email')}" required placeholder="Ingresa tu correo electronico">
               <small *ngIf="campoNoValido('email')" class="p-error block">{{ emailMsjError }}</small>
            </div>
   
            <button class="w-full cbc4" type="submit" pButton label="Enviarme enlace para restablecer mi password"></button>
   
            <a routerLink="/auth/login">Volver al Login</a>
         </div>

      </form>

   </p-card>
</div>