<p-dialog header="Cambiar Password" [(visible)]="modalVisible" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false" [closable]="false" [contentStyle]="{paddingBottom:'7px', paddingTop:'5px'}">

    <p-messages severity="success" *ngIf="actualizarIsSuccess" class="block mb-3">
        <ng-template pTemplate>
            <i class="pi pi-check-circle" style="font-size: 1.5rem;"></i>
            <span>Felicidades tu password se ha actualizado correctamente, por favor vuelve a iniciar sesión.</span>
        </ng-template>
    </p-messages>

    <form autocomplete="off" [formGroup]="formEditarPassword" (ngSubmit)="actualizarPassword($event)" *ngIf="!actualizarIsSuccess">
        <div class="flex flex-column gap-3 mb-2">

            <ul *ngFor="let error of errorMsjs" class="m-0 p-2 border-red-600 border-2" style="list-style: none;">
                <li class="text-red-600">
                   <i class="pi pi-times-circle"></i> {{ error }}
                </li>
            </ul>
    
            <div class="field">
                <label>Password Actual</label>
                <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="actualPassword"
                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('actualPassword')}" styleClass="w-full" required
                    inputStyleClass="w-full"></p-password>
                <small *ngIf="campoEsValido('actualPassword')" class="p-error block">El password debe tener al menos
                    7 caracteres.</small>
            </div>
    
            <p-divider></p-divider>
    
            <div class="field">
                <label>Nuevo Password</label>
                <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="nuevoPassword"
                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('password')}" styleClass="w-full" required
                    inputStyleClass="w-full"></p-password>
                <small *ngIf="campoEsValido('nuevoPassword')" class="p-error block">El password debe tener al menos
                    7 caracteres.</small>
            </div>
    
            <div class="field">
                <label>Confirmar Password</label>
                <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="confirmarPassword"
                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('password')}" styleClass="w-full" required
                    inputStyleClass="w-full"></p-password>
                <small *ngIf="campoEsValido('confirmarPassword')" class="p-error block">Los password no coinciden.
                    Inténtalo de nuevo.</small>
            </div>
            <div class="flex justify-content-end align-items-center gap-2">
                <button type="button" pButton label="Cancelar" class="cbn2" (click)="cancelarModal()"></button>
                <button pButton type="submit" [loading]="isLoading" [disabled]="formEditarPassword.invalid" pRipple label="Guardar" class="cbc4"></button>
            </div>
        </div>
    </form>
</p-dialog>